body {
    background: linear-gradient(135deg, #ffe4f2, #ffd1e8);
}

    /* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: #f7f7f7;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: rgb(249, 75, 200);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* PRODUK */
.produk-section {
padding: 50px;
text-align: center;
}
.produk-container {
display: flex;
gap: 20px;
justify-content: center;
}
.produk-card {
width: 250px;
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgb(240, 6, 138);
}
.produk-card img {
width: 100%;
border-radius: 10px;
}
.harga {
color: #ff6600;
font-weight: bold;
}
.produk-card button {
width: 100%;
padding: 10px;
background: #111;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

/* KERANJANG */
.keranjang {
    font-family: 'Cormorant Garamond', serif;
    background: #faf6ef;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 6px 25px rgba(0,0,0,0.12);
}

.keranjang h2 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    color: #3d2e1f;
}

#listKeranjang li {
    font-size: 20px;
    color: #4b3b2b;
    margin-bottom: 8px;
}

#totalHarga {
    font-size: 24px;
    font-weight: 600;
    color: #2b2016;
}


.hapus-btn {
    background: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* TOMBOL WHATSAPP */
.wa-btn {
    margin-top: 15px;
    width: 100%;
    background: #25D366;
    color: white;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wa-icon {
    width: 22px;
    margin-right: 10px;
}

/* Floating WhatsApp Button */
.wa-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: pulse 1.5s infinite;
}

.wa-float-icon {
    width: 35px;
    height: 35px;
}

/* Pulse Animation */
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(37, 211, 102, 0.6);
    }
    70% {
        transform: scale(1.1);
        box-shadow: 0 0 15px rgba(37, 211, 102, 0.6);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(37, 211, 102, 0.6);
    }
}


/* FOOTER */
footer {
background: #111;
color: white;
text-align: center;
padding: 20px;
margin-top: 50px;
}